*{
  padding: 0;margin: 0;
  box-sizing: border-box;
  border: none;
}
body{
  background:linear-gradient(to top,green,gold) ;
  background-repeat: no-repeat;
}
h1{
  color: gray;
}
img{
  width: 500px;
}